@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Worksans';
    src: url('./fonts/WorkSans/WorkSans-Regular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Worksans';
    src: url('.fonts/WorkSans/WorkSans-SemiBold.woff2');
    font-weight: 600;
}
@font-face {
    font-family: 'Magnat';
    src: url('./fonts/Magnat/Magnat-HeadRegular.woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Magnat';
    src: url('./fonts/Magnat/Magnat-HeadBold.woff2');
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Magnat', sans-serif;
    @apply text-3xl
}
body {
  @apply bg-yellow10 text-xl;
  font-family: 'Worksans', sans-serif;
}